<% include partials/header %>
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
    }

    .jumbotron {
      position: relative;
      overflow: hidden;
      height: 200px;
      z-index: 0;
      min-height: 500px;
      margin: 0px;

    }

    .container {
      position: relative;
      color: #ffffff;
      min-height: 150px;
      z-index: 2;
      /* Show content above video */
    }

    #video-background {
      position: absolute;
      height: auto;
      width: 100%;
      min-height: 100%;
      min-width: 100%;
      left: 50%;
      top: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
      z-index: 1;
    }

    #summary {
      background-color: rgba(0, 0, 0, 0.5);
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 30px;
    }

    #details {
      background: #ffffff;
      bottom: 0;
      min-height: 100%;
    }

    #imaginary_container {
      margin-top: 7.5%;
    }

    #header {
      max-height:50px;
    }

    .stylish-input-group .input-group-addon {
      background: white !important;
    }

    .stylish-input-group .form-control {
      border-right: 0;
      box-shadow: 0 0 0;
      border-color: #ccc;
    }

    .stylish-input-group button {
      border: 0;
      background: transparent;
    }

    #form {
      display: inline;

    }
  </style>

  <%var url;
    if(icon === null || icon === undefined) {
        icon = "cloudy";
    }
    switch(icon) {
      case "clear-day":
          url = "videos/clearDay.mp4";
          break;
      case "clear-night":
          url = "videos/clearNight.mp4";
          break;
      case "rain":
          url = "videos/rain.mp4";
          break;
      case "snow":
          url = "videos/snow.mp4";
          break;
      case "sleet":
          url = "videos/sleet.mp4";
          break;
      case "wind":
      url = "videos/windy.mp4";
        break;
      case "fog":
      url = "videos/fog.mp4";
        break;
      case "cloudy":
      url = "videos/cloudy.mp4";
        break;
      case "partly-cloudy-day":
      url = "videos/partlyCloudyDay.mp4";
        break;
      case "partly-cloudy-night":
      url = "videos/cloudyNight.mp4";
        break;
      case "hail":
      url = "videos/hail.mp4";
        break;
      case "thunderstorm":
      url = "videos/thunderstorm.mp4";
        break;
      case "tornado":
      url = "videos/tornado.mp4";
        break;
      default:
          url = "videos/cloudy.mp4";
        }
  %>

    <div class="jumbotron" style: "z-index:-101;">
      <div class="container text-center" id="summary">
        <h1><%-currentTemperature%>°F</h1>
        <h2><%-precipitationChance%>% chance of <%-precipitationType%></h2>
        <p> <%-hourlySummary%> </p>
        <p style="font-size:12px">
          <b>Powered by DarkSky.</b>
        </p>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div id="imaginary_container">
                <form action="http://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
                  <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" name="q" placeholder="Search">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <video class="weatherBackground" autoplay loop id="video-background" muted plays-inline>
        <source src="<%-url%>" type="video/mp4">
      </video>
    </div>
    <div class="container-fluid text-center" id="details">
      <h3></h3>
      <div class="row">
        <iframe id="forecast_embed" frameborder="0" height="245" width="100%" src="//forecast.io/embed/#lat=<%-latitude%>&lon=<%-longitude%>&name=<%-city%>"></iframe>
        <script src='https://darksky.net/map-embed/@temperature,39.000,-95.000,4.js?embed=true&timeControl=true&fieldControl=true&defaultField=temperature&defaultUnits=_f'></script>
      </div>
      <a class="" href="/settings" style: "max-width:50px;">Settings</a>      
    </div>

    <%include partials/footer%>
